$c-orange: #d74a1c;

#app {
    width: 100%;
}
.schedule {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    &__box {
        border-radius: 10px;
        background-color: #ff5a00;
        padding: 20px;
        
    }

    &__header {
        display: flex;
        align-items: stretch;

        > * {
            margin-right: 5px;
        }
    }

    &__choiche {
        display: flex;
        align-items: stretch;
        padding: 15px 10px;
        > * {
            margin-right: 15px;
        }
    }

    &__date {
        display: flex;
        align-items: stretch;
        padding: 15px 0;

        >* {
            margin-right: 15px;
        }
    }

    &__title {
        background-color:#e64418;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        padding: 5px 10px;
        width: 130px;

        span {
            font-size: 14px;
            max-width: 70px;
            font-weight: 700;
        }

        i {
            font-size: 24px;
            margin-right: 10px;
        }
    }

    &__field {
        background-color: #ffffff;
        padding: 2px 5px;
    }

    &__label {
        .schedule__field & {
            text-transform: uppercase;
            width: 100%;
            font-size: 12px;
            color: #222248;
            margin-bottom: 0;
        }

        .schedule__radio & {
            display: flex;
            align-items: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            &:hover {
                cursor: pointer;
            }
            
        }

        &-bullet {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            width: 18px;
            height: 18px;
            border: 2px solid #e4e4e4;
            margin-right: 10px;
            padding: 2px;

            &::after {
                display: none;
                background-color: #fff;
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            input:checked + .schedule__label & {
                &::after {
                    display: flex;
                }
            }

        }

        
    }

    &__input {
        .schedule__field & {
            border: none;
            width: 100%;
            outline: none !important;
        }
    }

    &__select {
        .schedule__field & {
            width: 100%;
            min-width: 200px;
        }
    }

    &__radio {
        input {
            display: none;
        }
    }
}